@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: #212426;
}

li,
a {
    list-style: none;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    /* padding: 0 8px; */
    /* border: 1px solid black; */
}

.login .login-btn {
    padding: 8px 15px;
    background-color: rgba(164, 45, 45, 0.877);
    color: #fff;
    border: none;
    font-size: 16px;
    font-family: "Roboto Slab", serif;
    cursor: pointer;
    transition: .3s background-color ease-in-out;
    border-radius: 4px;
}

.login .login-btn:hover {
    background-color: rgba(227, 29, 29, 0.877);
}

.logo {
    height: 120px;
    border-radius: 50%;
    /* border: 1px solid black; */
}

.nav-items ul {
    display: flex;
    gap: 14px;
}

.nav-items ul li {
    list-style: none;
    font-size: 18px;
    text-transform: capitalize;
    font-family: "Roboto Slab", serif;
    /* color: #c00909; */
    /* color: #a1a1a1; */
    font-weight: 500;
    cursor: pointer;
    transition: color .5s ease-in-out;
    text-decoration: none;
}

.search_section {
    /* border: 1px solid white; */
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.search_section input {
    flex: 1;
    border: none;
    font-size: 1rem;
    font-family: "Raleway", sans-serif;
    outline: none;
    color: #a1a1a1;
    padding: 10px;
    border-radius: 2px;
    font-weight: 500;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.277);
}

.search_section .search-btn {
    padding: 10px 20px;
    border-radius: 2px;
    margin-left: 15px;
    color: #ffffff;
    transition: .2s background ease-in-out;
    background: #17a4d6;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    letter-spacing: 0.75px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.277);
}

.search_section .search-btn:hover {
    background: #2193bc;
}

.restaurent-card-List {
    /* border: 1px solid red; */
    padding: 1rem;
}

.restaurent-card .restaurant-details {
    padding: 10px;
}

.restaurent-card {
    width: 240px;
    overflow: hidden;
    height: 300%;
    text-align: center;
    font-family: "Raleway", sans-serif;
    color: #a1a1a1;
    background-color: #1f2123;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    /* border: 1px solid rgb(255, 255, 255); */
}

.restaurent-card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05, 1.05);
}

.restaurent-card img {
    width: 100%;
    object-fit: cover;
}

.rating-locality {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 0;
}

.restaurant-rating {
    background-color: #48C479;
    color: #fff;
    padding: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

.restaurent-card h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #fff;
}

.restaurent-card h4 {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 4px;

}

.restaurent-card-List {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 1rem;
    flex-wrap: wrap;
}

.footer {
    background-color: #1f2123;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1rem;
}

.footer h2 {
    color: rgb(255, 255, 255);
    font-family: "Raleway", sans-serif;
}

.footer p {
    color: white;
    font-family: "Raleway", sans-serif;
}

.shimmer {
    margin-top: 4rem;
    width: 200px;
    height: 240px;
    background-color: #45494b;
    border-radius: 6px;
}

.route-error-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    height: 100vh;
}

.route-error-page h1,
h2 {
    font-family: "Raleway", sans-serif;
}

.route-error-page h2 {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.route-error-page h1 {
    font-size: 2rem;
}

.about-us-container {
    background-color: #282c34;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 2rem;
    font-family: "Raleway", sans-serif;
}

.owner-list {
    list-style: none;
    padding: 0;
}

.owner-item {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.owner-item:hover {
    background-color: #3a3f4b;
    cursor: pointer;
}

.contact-us-container {
    background-color: #282c34;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    margin-top: 3rem;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.info-item:hover {
    background-color: #3a3f4b;
    cursor: pointer;
}

.info-icon {
    width: 30px;
    margin-right: 10px;
}

.info-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.Restaurant-menu-container {

    padding: 1rem;
    /* color: #fff; */
    color: #E1E1E1;
}

.Restaurant-menu-container .menu-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

.Restaurant-menu-container .menu-header img {
    width: 250px;
}

/* font-family: "Roboto Slab", serif; */
/* font-family: "Raleway", sans-serif; */
.Restaurant-menu-container .menu-header h1 {
    font-family: "Roboto Slab", serif;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 10px;

}

.Restaurant-menu-container .menu-header p {
    font-size: 14px;
    /* font-family: "Roboto Slab", serif; */
    font-family: "Raleway", sans-serif;
    margin-bottom: 10px;
}

.Restaurant-menu-container .menu-header h4 {
    font-family: "Raleway", sans-serif;
    font-size: 14px;

}

.Restaurant-menu-container .menu-list-items {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.Restaurant-menu-container .menu-list-items h1 {
    font-size: 3rem;
    letter-spacing: 0.9px;
    background: linear-gradient(90deg,
            rgb(232, 229, 236) 20%,
            rgba(236, 231, 228, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    margin-bottom: 3rem;
}

.Restaurant-menu-container .menu-list-items ul li {
    /* background-color: #17a4d6; */
}

.menu-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: #1F2123;
    /* border: 2px solid rgb(0, 8, 255); */
    margin-bottom: 20px;
    width: 80vw;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.145);
    transition: all .2s ease-in-out;
}

/* .menu-items:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.01, 1.01);
} */

.menu-items img {
    width: 120px;
}


.menu-items .right-section-add-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.menu-items .right-section-add-btn button {
    padding: 4px 20px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.277);
    transition: all .3s ease-in;
    color: #48C479;
}

.menu-items .right-section-add-btn button:hover {
    transform: translateY(-2px);
}

.menu-items .description li {
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    color: gray;
}

.menu-items .description .food-name {
    margin-bottom: 10px;
    font-size: 1rem;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    /* font-family: "Raleway", sans-serif; */
    color: #fff;
}

@media only screen and (max-width: 600px) {

    .login,
    .nav-items {
        display: none;
    }
}

.food-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 2rem;
    flex-direction: column;
}

.cart-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: #1F2123;
    font-family: "Roboto Slab", serif;
    width: 140px;
}

.cart-items img {
    width: 100px;
}

.cart-items h1 {
    font-size: .5rem;
    color: #E1E1E1;
}

.cart-items .food-name {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
}


.clear-btn {
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 3rem;
    outline: none;
    border-radius: 5px;
    border: none;
    background: orangered;
}

.clear-btn {
    background-position: right center;
}